.main-container{
    margin: 2% 13.5%;
}

.title-section-three{
    font-size: 40px;
    flex:1.2;
    margin-right:10%;
}

.first-row{
    display:flex;

}

.paraph-section-three{
    flex:2;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}
.text-section-three{
    font-size: 20px;
    font-weight:300;
}

.title-section-three:after{
    content:'';
    background: #97c680;
    width:10px;
    height:10px;
    display: inline-block;
    margin-left:5px;
}





@media only screen and (max-width: 450px) {
    .first-row{
        flex-direction: column;
    }
    .main-container{
        justify-content:center;
        align-items: center;
    }
  }


  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px)  {
    .first-row{
        flex-direction: column;
    }
    .main-container{
        justify-content:center;
        align-items: center;
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* Medium devices (landscape tablets, 768px and up) */
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 983px) {


  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
